<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Resumo</h2>
<div class="summary">
    <p>Sempre muito curioso e sonhando em ser um grande nome da área de tecnologia, aprendi a programar sozinho, minha primeira e amada linguagem é o PHP, com ela atuei em algumas empresas e em diversos projetos diferentes, desde sites dinâmicos, Wordpress, E-commerce (Opencart e Magento), plataforma de delivery gourmet, mapaeamento de casos de dengue.</p>
    <p>Cada projeto é um desáfio e com isso já trabalhei por diversas tecnologias como Laravel/Lumen, Zend, Docker, Queue, Cloud, Amazon S3, VueJs, Angular 1 além do bom e velho Html5/Css3.</p>
    <p>Além de desenvolvedor, também vivi experiência nas áreas de atencimento, suporte e gerenciamento de projetos o que faz ter um olhar diferente sob varias perspectivas do projeto.</p>

</div><!--//summary-->
</section><!--//section-->
