<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor PHP</h3>
                            <div class="time">2017 - Presente</div>
                        </div><!--//upper-row-->
                        <div class="company">EcGlobal, Salvador</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Com um no-hall desafiador, trabalhar aqui é uma aventura e tanto, assim sou obrigado a sair todos os dias da minha zona de conforto para entender e resolver cada problema. Criatividade e liberdade aqui é o lema, o que exige uma boa experiência e maturidade profissional para propor a melhor solução.</p>                       
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor Lider PHP</h3>
                            <div class="time">2013 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">LinceWeb, Feira de Santana</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Foi uma experiência e tanto participar desta equipe, sempre com muitos desáfios e consequente muito aprendizado. Atuei em maior parte do tempo como BackEnd, usando principalmente PHP e as vezes NodeJs, mas sempre que necessário atuei como FrontEnd, principalmente em correções. </p>
                        <p>Pra mim, um dos maiores desáfio foi a transformação cultural, mostrando a coordenação da empresa que devemos estar aberto para novas técnicas e tecnologias para um bom desenvolvimento.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            
                
            </section><!--//section-->
