<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
                <div class="intro">
                    <p>Aqui alguns dos projetos em que contribuir como desenvolvedor.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://prefirodelivery.com.br" target="_blank">Prefiro Delivery</a></span> - 
                    <span class="project-tagline">Plataforma de delivery Gourmet onde cada lojista tem o seu ambiente isolado, possibilitando ter seu ambiente totalmente personalizado de acordo com as suas necessidades.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Filatelia e Numismatica Carneiro</a></span> - 
                    <span class="project-tagline">E-Commerce na segmento de Selos e Moedas com mais de 5 mil itens cadastrado precisamos extender o OpenCart para atender as necessidades do projeto</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.ppbio.uefs.br" target="_blank">PPBIO - UEFS</a></span> - 
                    <span class="project-tagline">O Programa de Pesquisa de Biodiversidade do Semi-Árido disponibiliza a comunidade a comunidade a bases de especies encontradas segementada em categorias e noticias sobre o prórpio programa</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Grupo Beline</a></span> - 
                    <span class="project-tagline">WebSite responsivo do Grupo Beline, com dicas para os cabelos e o seu catalogo de produtos</span>
                </div><!--//item-->
            </section><!--//section-->
