<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://prefirodelivery.com.br" target="_blank">Prefiro Delivery</a></span> - 
                    <span class="project-tagline">Plataforma de delivery Gourmet onde cada lojista tem o seu ambiente isolado, possibilitando assim ele ter seu ambiente totalmente personalizado de acordo com as suas necessidades.</span>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Filatelia e Numismatica Carneiro</a></span> - 
                    <span class="project-tagline">E-Commerce na segmento de Selos e Moedas com mais de 5 mil itens cadastrado precisamos externder o OpenCart para atender as necessidades do projeto</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.ppbio.uefs.br" target="_blank">PPBIO - UEFS</a></span> - 
                    <span class="project-tagline">O Programa de Pesquisa de Biodiversidade do Semi-Árido disponibiliza a comunidade a comunidade a bases de especies encontradas segementada em categorias e noticias sobre o prórpio programa</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - 
                    <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
